BasedOnStyle: LLVM
AlignAfterOpenBracket: true

AlignConsecutiveMacros: AcrossEmptyLines

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

ColumnLimit: 120